PORT=3001
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000

FUDO_API_KEY=
FUDO_API_SECRET=
FUDO_API_BASE_URL=https://api.fu.do/v1alpha1
FUDO_AUTH_URL=https://auth.fu.do/api

VITE_API_BASE_URL=http://localhost:3001/api/fudo
