PORT=5000
NODE_ENV=development
CLIENT_ORIGIN=http://localhost:3000

FUDO_API_KEY=MDAwMDI6MzE2Mzgy
FUDO_API_SECRET=TqKCYZSInpEUTUWh5tsQe7w4
FUDO_API_BASE_URL=https://api.fu.do/v1alpha1
FUDO_AUTH_URL=https://auth.fu.do/api
